# https://doc.qt.io/qt-6/macos.html
c_stdlib_version:          # [osx]
  - 11.0                   # [osx]
MACOSX_SDK_VERSION:        # [osx]
  - '12.3'                 # [osx]

c_compiler:    # [win]
- vs2022       # [win]
cxx_compiler:  # [win]
- vs2022       # [win]

# compile issues with old version of fmt vendored in a vendored library .. :(
c_compiler_version:    # [osx]
- '18'                 # [osx]
cxx_compiler_version:  # [osx]
- '18'                 # [osx]
